{% extends 'base.html' %}

{% block title %}
    Создание mema
{% endblock %}

{% block content %}
<form action="{% url 'mem_create_url' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
            {% if field.errors %}
                <div class="altert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
            {{ field.label }}
            {{ field }}
            </div>
        {% endfor %}



        <button type="submit" class="bit bit-primary">
            Создать mem
        </button>
    </form>
{% endblock %}