{% extends 'base.html' %}

{% block title %}
    Создание tag - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'tag_create_url' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
            {% if field.errors %}
                <div class="altert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
            {{ field.label }}
            {{ field }}
            </div>
        {% endfor %}



        <button type="submit" class="bit bit-primary">
            Создать Tag
        </button>
    </form>
{% endblock %}